<%- include('../includes/header.ejs')%>


<div class="ui container">
    <h1>Modifier Vos Informations</h1>

    <form class="ui form" method="POST" action="/updateUser">
        <div class="field required">
          <label>Nom</label>
          <input type="text" name="nom" value='<%= user.nom %>'>
        </div>
        <div class="field required">
          <label>Prénom</label>
          <input type="text" name="prenom" value='<%= user.prenom %>'>
        </div>
        <div class="field required">
          <label>Téléphone</label>
          <input type="text required" name="telephone" value='<%= user.telephone %>'>
        </div>
        <div class="field">
          <label>Email</label>
          <input type="text" name="email" value='<%= user.email %>'>
        </div>
        <button class="ui button" type="submit">Enregistrer les modifications</button>
    </form>

    <!-- <button onclick="openModal()"> Modal </button>

    <div class="ui modal" id="modal">
        <i class="close icon"></i>
        <div class="header">
          Profile Picture
        </div>
        <div class="image content">
          <div class="ui medium image">
            <img src="/images/avatar/large/chris.jpg">
          </div>
          <div class="description">
            <div class="ui header">We've auto-chosen a profile image for you.</div>
            <p>We've grabbed the following image from the <a href="https://www.gravatar.com" target="_blank">gravatar</a> image associated with your registered e-mail address.</p>
            <p>Is it okay to use this photo?</p>
          </div>
        </div>
        <div class="actions">
          <div class="ui black deny button">
            Nope
          </div>
          <div class="ui positive right labeled icon button">
            Yep, that's me
            <i class="checkmark icon"></i>
          </div>
        </div>
    </div> -->

    
</div>



<%- include('../includes/footer.ejs')%>